
.row {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
}

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    flex-basis: 30%;
}
.card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius:  3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0 0 0, .15);
}
.card__side__front {
    background-color: white;
}

.card__side__back {
    transform: rotateY(180deg);
}

.card__side__back_1 {
    background-image: linear-gradient(to right bottom, green,  blue);
}
.card__side__back_2 {
    background-image: linear-gradient(to right bottom, green,  blue);
}

.card__side__back_3 {
    background-image: linear-gradient(to right bottom, green,  blue);
}

.card:hover .card__side__front {
    transform: rotateY(-180deg);
}
    
.card:hover .card__side__back {
    transform: rotateY(0);
}

.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    z-index: 1;
}

.card__picture__1 {
    /* background-image: linear-gradient(to right bottom, green,  blue) ,url(../img/nat-5.jpg); */
    background-image: linear-gradient(to right bottom, green,  blue) ;
}
        
.card__picture__2 {
    background-image: linear-gradient(to right bottom, green,  blue) ;
}
.card__picture__3 {
    background-image: linear-gradient(to right bottom, green,  blue) ;
}

.card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 65%;
    z-index: 10;
}

.card__heading_span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__heading_span__1 {
    background-image: linear-gradient(to right bottom, rgba(200 200 200, .85), rgba(100 100 100, .85));
    
}
.card__heading_span__2 {
    background-image: linear-gradient(to right bottom, rgba(200 200 200, .85), rgba(100 100 100, .85));
    
}
.card__heading_span__3 {
    background-image: linear-gradient(to right bottom, rgba(200 200 200, .85), rgba(100 100 100, .85));
    
}

.card__details {
    padding: 3rem;
}
.card__details ul{
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.card__details ul li{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
                
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
           
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; 
}

.card__price_box {
    text-align: center;
    margin-bottom: 8rem;
    color: white;
}

.card__price_only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price_value {
    font-size: 6rem;
    font-weight: 100;
}
