.Navitem {
    /* align-self: stretch; */
   display: flex;
   align-items: center;
   padding: 0 1rem;
}
.Navitem a {
    padding: 1rem 0;
    font-size: 2.5rem;
    border-bottom: 2px solid transparent;
}
.Navitem a.active {
        height: 100%;
        border-bottom: 2px solid var(--primary-color);
}

.Navitem a:link, .Navitem a:visited, .Navitem a:hover {
    text-decoration: none;
    color: var(--primary-color);

}
.Navitem a:hover, .Navitem a:active {
    border-bottom: 2px solid var(--primary-color);
}


