/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #aaa;
} */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
 --primary-color: #10b27b;
 --primary-color-light: #1ebfff;
 --primary-color-dark: #1E90FF;
 font-family: 'Raleway', sans-serif;
}

.App {
  margin: 1rem 10rem 5rem 10rem;
  min-height: 95vh;
  box-shadow: 0 .5rem 3rem lightgrey;
}

